*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(food5.webp);
    background-repeat: no-repeat;
    background-size: 1950px 950px;
}
h1{
    color: rgb(249, 244, 244);
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}
#text1{
    margin-top: 400px;
}
button{
    height: 60px;
    width: 160px;
    background-color: rgb(249, 249, 249);
    border-radius: 20px;
    font-size: 22px;
    font-weight: bold;
}
button a{
    color: rgb(20, 21, 21);
    text-decoration: none;
}
#bt1{
    margin-left: 800px;
    margin-right: 25px;
}
